.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #0f0f0f;
  color: white;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  transition: color 0.4s ease-in-out;
}

.logo:hover {
  color: #ca8e8e;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
}

.navigation li a,
.navigation li button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  transition: color 0.4s ease-in-out;
}

.navigation li a:hover,
.navigation li button:hover {
  color: #ecf1f3;
}

.navigation li a:active,
.navigation li button:active {
  color: white;
  background: none;
}
