.navigationItem {
  display: flex;
  align-items: center;
}

.userEmail {
  color: white;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.8;
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.2s ease;
}

.logoutButton:hover {
  color: #ddd;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.2s ease;
}

.navigationLink:hover {
  color: #ddd;
}
