.button {
  all: unset;
  font-family: var(--mainFontFamily);
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 8px 8px;
  font-size: 10px;
  line-height: 1;
  color: var(--light-color);
  background-color: #57b2ee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.1s ease, box-shadow 0.2s ease;
}

.button:hover {
  color: var(--accent-2);
  cursor: pointer;
}

.button:active {
  top: 4px;
  background-color: #14326d;
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Variants */
.button.primary {
  background-color: #57b2ee;
}

.button.cancel {
  background-color: var(--accent-1);
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button.cancel:hover {
  background-color: #bb2d3b;
}

.button.submit {
  background-color: var(--accent-2);
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.button.submit:hover {
  background-color: #4f65a0;
}

/* Size */

.small {
  font-size: 12px;
  padding: 10px 12px;
}

.medium {
  font-size: 16px;
  padding: 12px 16px;
}

.large {
  font-size: 20px;
  padding: 16px 24px;
}
