.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  color: #5d6674;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
}

.button:hover:not(:disabled) {
  color: #7fe0bb;
}

.button:disabled {
  color: #9ea4ad;
  cursor: not-allowed;
}

.danger {
  color: #db2828;
  opacity: 0.8;
}

.danger:hover:not(:disabled) {
  color: #d82121;
  opacity: 1;
}

.primary,
.outline {
  background: none;
  border: none;
}
