.footer {
  padding: 18px;
  background-color: #f7f0f0;
  text-align: center;
  font-size: 14px;
  color: #585858;
  border-top: 1px solid #e6e4e4;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer a {
  color: #3d8ae2;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
