.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 20px;
  background-color: #000;
  min-height: 100vh;
}

.navItem {
  color: #888;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.navItem:hover {
  color: #fff;
}

.active {
  color: #0d6efd;
  font-weight: bold;
}
