.app {
  width: 100%;
  flex: 1;
  padding: 24px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  gap: 20px;
}

.leftGroup {
  display: flex;
  justify-content: flex-start;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.button {
  justify-self: end;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 20px;
  background-color: #0d6efd;
  color: white !important;
  border-radius: 6px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  width: fit-content;
  border: none !important;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0b5ed7;
}

/* Модалка та бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modalContent {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  width: 95%;
  max-width: 550px;
  position: relative;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.empty {
  text-align: center;
  font-size: 1.2rem;
  color: #6b7280;
  margin-top: 50px;
}
